@import "../../variables";

.Footer__Content {
  background-color: rgba(217, 230, 172, 0.21);
  padding: 4em;
  display: flex;
  justify-content: space-evenly;

  > * {
    display: inline-block;
  }

  .Footer__Content__Logo {
    flex-basis: 15%;

    img {
      width: 100%;
    }
  }

  .Footer__Content__Contact {
    flex-basis: fit-content;
  }

  .Footer__Content__Mission {
    flex-basis: 40%;
  }
}

.Footer__BottomStrip {
  background-color: $BG_HIGHLIGHT;
  display: flex;
  justify-content: space-between;

  > *:first-child, a {
    margin: $SPACING_DEFAULT;
  }

  * {
    display: inline-block;
  }
}
