@import "../../variables";

.Header {
  z-index: 10;
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 7px 0;
}

.Header__TopStrip {
  background-color: $BG_HIGHLIGHT;
  display: flex;
  justify-content: space-between;

  > * {
    display: inline-block;
    padding: $SPACING_DEFAULT;

    a {
      margin: $SPACING_DEFAULT;
    }
  }
}

.Header__Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > * {
    text-align: center;

    &:first-child {
      padding: $SPACING_DEFAULT;
      flex-basis: 50%;
      text-align: left;

      img {
        width: 100%;
        max-width: 250px;
      }
    }

    &:last-child {
      margin-right: $SPACING_DEFAULT;
    }
  }
}
