@import "../variables";

.AboutUs {
  .AboutUs__Verses {
    text-align: center;
    * {
      display: inline-block;
    }

    ol {
      counter-reset: verses-counter;
      &:before, &:after {
        content: '"';
      }

      li:before {
        counter-increment: verses-counter;
        content: counter(verses-counter);
        vertical-align: super;
      }
    }
  }

  article {
    //display: flex;
    flex-wrap: wrap;

    .acronym {
      width: auto;
      @include hCenter;
    }

    > * {
      flex: 1 1;

      &:first-child {
        flex-basis: 50%;
      }

      &:last-child {
        margin-left: 5%;
      }
    }
  }
}