.AboutUs__SubHeader > * {
  display: inline;
}

.AboutUs__Verses {
  margin: 0;
  padding: 0;
  counter-reset: verses;

  &:before, &:after {
    content: '"';
  }

  > * {
    counter-increment: verses;
    display: inline-block;
    list-style-position: inside;

    &:before {
      content: counter(verses);
      vertical-align: super;
    }

    &:last-child {
      text-align: right;
    }
  }
}

.AboutUs__VersesCitation {
  vertical-align: sub;
}

.AboutUs__Programs > img {
  margin-left: 50%;
  transform: translate(-50%, 0);
}

.sidebar ul {
  list-style-type: none;
}
