@import "../variables";
.Programs {
  .Programs__ProgramList {
    list-style-type: none;

    li {
      @media (min-width: $BREAK_MOBILE) {
        max-width: calc(33% - 1em);
      }

      margin: 0.5em;
      vertical-align: top;
      display: inline-block;
      text-align: center;

      h2 {
        color: $COLOR_BG;
      }

      p {
        text-align: left;
      }
    }
  }
}