@import "./variables";
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
  font-family: 'Raleway', Helvetica, Arial, Lucida, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

a {
  text-decoration: none;
}

img:not(.icon) {
  width: 100%;
}

button {
  outline: none;
  padding: 0.5em;
  border-radius: 5px;
  border-width: 3px;
  border-color: $COLOR_BG_LIGHT;
  cursor: pointer;
  transition: background-color 0.1s linear;

  &:hover {
    background-color: $COLOR_BG_TINT;
  }
}


h1, h2, h3, h4, h5, hr, p, li {
  margin-bottom: 1em;
}

ul, ol {
  list-style-position: inside;
}

nav > * {
  margin-right: 1em;

  &:first-child {
    margin-left: 1em;
  }
}