$COLOR_BG: rgb(146, 199, 138);
$COLOR_BG_LIGHT: rgb(218, 231, 173);
$COLOR_BG_TINT: rgba(217, 230, 172, 0.21);
$SHADOW: rgba(23, 23, 23, 0.33) 0 0.883774px 18.8136px 0;

@mixin hCenter {
  margin-left: 50%;
  transform: translate(-50%, 0);
}
