@import "../variables";

.Layout__Default {
  //HORIZONTAL LAYOUT
  .Header__TopBar, .Header__TopNav, .MainNav, .Footer__Summary, .Footer__BottomBar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > * {
      display: inline-block;
    }
  }

  //SPACE TOP NAV
  .Header__TopNav__Items {
    flex-basis: 50%;
    display: flex;
    justify-content: space-evenly;
  }

  //STYLE BARS
  .Header__TopBar, .Footer__BottomBar {
    background-color: $COLOR_BG;
    padding: 0.5em;
  }

  .Header__TopBar button {
    margin-right: 1em;
  }

  //FIXED HEADER
  .Header {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: white;
    box-shadow: $SHADOW;
    z-index: 9;
  }

  //MAIN NAV SPACING
  .MainNav {
    z-index: 1;
    justify-content: space-evenly;

    //ROUND NAV ITEMS, OVERLAP
    .MainNav__Item {
      background-color: white;
      border-radius: 50%;
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      width: 150px;
      height: 150px;
      text-align: center;
      border: 3px solid $COLOR_BG_LIGHT;
      transition: border 0.1s linear,
      width 0.1s linear,
      height 0.1s linear;
      margin-top: -50px;
      box-shadow: $SHADOW;

      //THICKER BORDER ON HOVER
      &:hover {
        border-width: 9px;
        width: 132px;
        height: 132px;
      }

      > * {
        display: block;
        margin-top: 20%;
      }
    }
  }

  .Main {
    padding: 2% 10%;
  }

  // FOOTER BG
  .Footer {
    background-color: $COLOR_BG_TINT;

    .Footer__Summary {
      padding: 2em;
      justify-content: space-around;
      > * {
        align-self: start;
        flex-basis: 11%;

        &:first-child {
          max-width: 200px;
          max-height: 200px;
        }

        &:last-child {
          flex-basis: 50%;
        }
      }
    }
  }
}