@import "../variables";

.Layout__Default {
  //HORIZONTAL LAYOUT
  .Header__TopBar, .Header__TopNav, .MainNav, .Footer__Summary, .Footer__BottomBar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > * {
      display: inline-block;
    }
  }

  //SCALE HEADER/FOOTER LOGOS
  .Header__TopNav, .Footer__Summary {
    > *:first-child {
      width: 100px;
    }
  }

  .Header__TopNav {
    text-align: center;

    //SPACE TOP NAV
    .Header__TopNav__Items {
      justify-content: space-evenly;
    }
  }

  //STYLE BARS
  .Header__TopBar, .Footer__BottomBar {
    background-color: $COLOR_BG;
    padding: 0.5em;
  }

  .Header__TopBar button {
    margin-right: 1em;
  }

  //FIXED HEADER
  .Header {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: white;
    box-shadow: $SHADOW;
    z-index: 9;
  }

  //MAIN NAV SPACING
  .MainNav {
    z-index: 1;
    flex-wrap: wrap;
    margin-top: -10px;
    position: relative;
    justify-content: space-evenly;

    @media (min-width: $BREAK_MOBILE) {
      margin-top: -50px;
    }

    //ROUND NAV ITEMS, OVERLAP
    .MainNav__Item {
      margin: 0;
      text-align: center;
      border: 3px solid $COLOR_BG_LIGHT;
      transition: border 0.1s linear;
      background-color: white;
      background-position: center;
      background-size: 80%;
      background-repeat: no-repeat;
      white-space: nowrap;
      border-radius: 100%;
      max-width: 200px;
      max-height: 200px;

      @media (min-width: $BREAK_MOBILE) {
        width: 20vw;
        height: 20vw;
        flex-direction: row;
      }

      > * {
        padding: 0.5em;
      }

      //THICKER BORDER ON HOVER
      &:hover {
        border-width: 9px;
      }
    }
  }

  .Main {
    padding: 2% 10%;
  }

  // FOOTER BG
  .Footer {
    background-color: $COLOR_BG_TINT;

    .Footer__Summary {
      display: block;
      padding: 2em;
      justify-content: space-around;
      text-align: center;

      > * {
        max-width: 50%;
        text-align: left;
        margin: 1em;
        vertical-align: top;
      }
    }
  }
}